fastapi>=0.115.0
uvicorn[standard]>=0.30.0
motor>=3.6.0
beanie>=1.25.0
python-dotenv>=1.0.0
pydantic>=2.0.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
pymongo>=4.14,<5
dnspython>=2.6.1
certifi>=2024.0.0
fastapi-standalone-docs>=0.2.0
